{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">News Management</h1>   

            <form action="{% url 'adminapp:addnews' %}" method="POST" class="form form-group mt-5">
                {% csrf_token %}
                <table class="table table-bordered text-light w-75 m-auto">
                    <tr>
                        <td>Enter News content</td>
                        <td>
                            <textarea name="newstext" required class="form-control text-light"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;"><Button type="submit" class="btn btn-success">Add News</Button></td>
                    </tr>
                </table>
            </form>
            <br>

            <table class="table table-bordered text-light">
                <tr>
                    <th>S.no.</th>
                    <th>News</th>
                    <th>Posted Date</th>
                    <th>Delete</th>
                </tr>
                {% for n in nw %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{n.newstext}}</td>
                    <td>{{n.posteddate}}</td>
                    <td>
                        <a href="{% url 'adminapp:delnews' nid=n.nid %}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                  </tr>
                {% endfor %}

            </table>
              
        </div>
    </div>
{% endblock body %}
